h1 {
    background: #2980b9;
    color: #ffffff;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}

#container {
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    width: 360px;
    margin: 100px auto;
}

.completed {
    color: grey;
    text-decoration: line-through;
}