h1 {
    background: #2980b9;
    color: #ffffff;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}

.fa-plus {
    float: right;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    /* Chrome, Safari */
    background: -mz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    /* Firefox */
    background: -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    /* Opera */
    background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
    /* W3C */
    font-family: Roboto;
}

li {
    background: #ffffff;
    color: #666666;
    height: 40px;
    line-height: 40px;

}

li:nth-child(2n) {
    background: #f7f7f7;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

input {
    font-size: 18px;
    color: #2980b9;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
    background: #ffffff;
    border: 3px solid #2980b9;
    outline: none;
}

#container {
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    width: 360px;
    margin: 100px auto;
}

.completed {
    color: grey;
    text-decoration: line-through;
}

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: #ffffff;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}