h1 {
    background: #2980b9;
    color: #ffffff;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
}

li {
    background: #ffffff;
    color: #666666;
    height: 40px;
    line-height: 40px;

}

li:nth-child(2n) {
    background: #f7f7f7;
}

li:hover {
    width: 40px;
    opacity: 1.0;
}

input {
    font-size: 18px;
    color: #2980b9;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
    background: #ffffff;
    border: 3px solid #2980b9;
    outline: none;
}

#container {
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    width: 360px;
    margin: 100px auto;
}

.completed {
    color: grey;
    text-decoration: line-through;
}